header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    img{   
        width: 110%;  
    }
    ul{
        display: flex;
        justify-content: center;
        gap: 40px; 
        list-style: none; 
        align-items: center;
        .bag{
            width: 90%;  
            &:hover{
                width: 95%; 
                color: $orange-color; 
            }
        } 
        .sing_in{
            color: $orange-color;
            &:hover{ 
                color: $black-color; 
            }
        }
        .sing_up{
            @include button();
            &:hover{
                background-color: #6c392a; 
            }
        }
    }
}  